.tools-home-page {
 

  .sec-2 {
    width: 976px;
    margin: 0 auto;
    margin-top: 300px;
  }

  .sec-3 {
    width: 976px;
    margin: 0 auto;
  }

  .sec-4 {
    width: 976px;
    margin: 0 auto;
  }

  .sec-5 {
    width: 976px;
    margin: 0 auto;
  }

  .sec-6 {
    width: 976px;
    margin: 0 auto;
  }

  .sec-7 {
    width: 976px;
    margin: 0 auto;

  }

  .sec-8 {
    width: 976px;
    margin: 0 auto;

  }
}

@media (max-width: 1005px) {
  .tools-home-page {
   
  }
}


@media (max-width:767px) {
  .tools-home-page {
    
  }
}