.zoom-model{
    position: absolute;
    top:80px;
    bottom: auto;
    left: calc(50vw - 250px);
    right: auto;
    z-index: 999;
    width: 500px;
    height:fit-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;


}

.zoom-model img{
    width: 100%;
}

.zoom-model .btn-modal-close{
    width: 50px;
    height: 50px;
}





@media (max-width: 1005px) {
    .zoom-model{
        width: 90vw;
        left: 0;
        top:-40px
    }
}

@media (max-width: 767px) {
.zoom-model{
    width: 100vw;
    left: 0;
    top:-40px
}
}