.file-upload-container{
    
    .drag-and-drop{
        background: #F7F7F9;
        height: 330px;
        border: 4px dotted #E7E7E7;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #648197;
        flex-direction: column;
        gap: 23px;
        overflow: hidden;
        .drag-text{
            font-family: Work Sans;
            font-size: 26px;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: -0.03em;
            text-align: center;
        }
        svg{
            width: 50px;
            height: 50px;
        }
        
    }
}