.address-container{
    .address-form{
        .sec2{
            margin-top: 10px;
            width: 100%;
            display: flex;
            gap: 10px;
            .text-input{
                margin-bottom: 10px;
            }
        }
    }
}