.footer {
    background: #F4F4F2;
    padding: 35px 0px;
    color: #5C6366;
    ;
    width: 100vw;
}

.footer {
    .row:first-child {
        border-bottom: 1px solid #959393;
    }

    .main {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .col-lg-3:first-child ul{
        margin-left: 0;
    }



    ul {
        border-top: 1px solid #959393;
        list-style: none;
        text-align: start;
        padding-top: 1.778645rem;
        padding-bottom: 25px;
        padding-left: 0;
        margin-left: 2.22330rem;
        margin-right: 0;
    }



    ul li {
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

    }
    ul li:hover{
        color: #000;
    }
    ul li:first-child {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;
        line-height: 1;
        text-transform: uppercase;
    }

    .social-heading {
        margin-bottom: 24px !important;
    }

    .social-box {
display: flex;

align-items: center;
        border-bottom: unset !important;
    }

   

    .social-box svg {
        height: 2.5rem;
        cursor: pointer;
        margin-right: 20px;
    }
    .social-box svg:hover path{
        fill: #909AAD;
    }
    .tail {
        padding-top: 2.40117rem;
        padding-bottom: 3.0779466rem;
    }

    .tail * {
        border: none;
    }

    .tail img {
        height: 3.5rem;
    }

    .tail a,
    .tail p {
        //styleName: Footer SubMenu;
        font-family: Work Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 0;
    }

    .tail .link-box,
    .tail {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .tail .link-box a {
        margin-right: 1.875rem;
        cursor: pointer;
        
    }
    .tail .link-box a:hover{
        color: #000;
    }
}

@media (min-width: 1005px) {
    .footer {

    .main .main-col {
        padding: 0px 30px;
       
    }
    .social-box svg {
        height: 30px;
    }
}

}

@media (max-width: 1005px) {
    .footer {
        padding-bottom: 20px;
    }

    .footer {
        .container{
            max-width:  681px;
            padding: 0 ;
        }
        .main .main-col {
            border-right: none;
            padding-left: 24px;
            padding-right: 24px;
        }

        .main div {
            border-right: none
        }

        ul li {
            font-size: 16px;
            width: 100%;
        }

        ul li:first-child {
            font-size: 20px;
        }

        ul {
            margin: 0;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .social-box {

            justify-content: space-between;
        }

        

        .tail {
            padding-bottom: 0;
            
    display: block;
            .link-box{ 
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 50px;

                a {
                margin-right: 37px;
            }
            a:last-child{
             margin-right: 0;   
            }
        }
        .link-box li:first-child {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
            line-height: 1.7;
        }
        .cr-box{
            p{
                width: fit-content;
                margin: 0 auto;
                margin-bottom: 50px;
            }
        }
        }
    }
}

@media (max-width: 767px) {
    .footer {

       .container{
        padding-left: 0;
        padding-right: 0;
        width: 85.93%;
        .tail .link-box,
        .tail {
            display: block;
        }

        .main {
            display: block;
        }
        ul li:first-child {
            font-size: 18px;
        }
        .social-box {
            width: 100%;
            justify-content: flex-start;
        }

        .social-box .col-md-6 {
            margin-bottom: 20px;
        }

        .social-box svg {
            height: 30px;
        }

        .tail .img-box,
        .tail .cr-box {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .tail .link-box{
            display: block;
            a{
                display: block;
            }
        }
        .tail .cr-box p {
            width: fit-content !important;
            font-size: 16px;
            margin: 0 auto 0 0;
        }

       }
    }
}

/*responssive for Mobile*/

@media (max-width: 576px) {
    .footer {

        .tail .link-box,
        .tail {
            display: block;
        }
    }
}