.main-filter {
  background-color: #fff;
  padding: 15px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.801) 0px 3px 6px;
  display: block;
  width: 100%;
  height: fit-content
}

.main-filter .filter-box h4 {
  font-weight: 700;
  margin-bottom: 5px;
}

.main-filter .close-button svg {
  width: 26px;
}

.selected-filtertags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 10px;
  margin: 0;
  width: 100%;
}

.selected-filtertags-container .tag {
  font-size: 12px;
  color: #585858;
  display: inline-flex;
  align-items: center;
  margin: 2px;
  padding: 3px 8px;
  background-color: #eaeaea;
  border-radius: 20px;
}


.selected-filtertags-container .tag .tag-remove {
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}


.main-filter button {
  background-color: rgba(235, 235, 235, 1);
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0;
  display: block;
}
.main-filter .close-button{
  background-color: transparent !important;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: 0;

}
.main-filter .body button:hover {
  background-color: #E05A67;
  color: #fff;

}

.main-filter .body button:hover svg path {
  fill: #fff;

}

.main-filter .accordion-btn .btn-icon-left {
  height: 16px;

}

.main-filter .accordion-btn .btn-icon-right {
  height: 19px;
  width: 10px;
}



.main-filter .filter-box {

  background: #FFFFFF;
  border-radius: 10px;
  padding: 0;
}



.main-filter .filter-box h5 {
  font-weight: 500;
  font-size: 15px;
  color: #E05A67;
  margin-top: 20px;

}

.main-filter .filter-box .form-check {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}


.main-filter .filter-box input {
  height: 19px;
  background-color: #fff;
  border-radius: 5px !important;

}

.main-filter .filter-box input:checked {
  background-color: #E05A67;
}

.main-filter .filter-box label {
  font-weight: 600;
  font-size: 13px;
  color: #585858;

}

.main-filter .price-result {
  font-size: 11px;
}

.css-187mznn-MuiSlider-root {
  padding: 10px 0 !important;
}

.main-filter .quantity-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.main-filter .quantity-filter button {

  width: 41px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #E05A67;
  background-color: #fff;
  padding: 0;
  text-align: center;
  margin-bottom: 0;

}
.main-filter .quantity-filter button svg path{
  stroke: #E05A67;
}
.main-filter .quantity-filter button:hover{
  background-color: #E05A67;

}
.main-filter .quantity-filter button:hover svg path,.main-filter .quantity-filter button:hover svg circle{
  stroke: #FFFFFF ;
}

.main-filter .quantity-filter input{
  margin-left: 5px;
  margin-right: 5px;
  width: 45px;

  height: 35px;
  border-radius: 5px;
  box-shadow: none;
}

.main-filter input[type="checkbox"]::before{
  display: none;
}
@media (max-width: 1005px) {
  .main-filter {
    position: absolute;
    width: 278px;
    height: fit-content;
    z-index: 2;
  }
}

@media (max-width: 768px) {}