.nav-pane {
    width: 100vw;
    // height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 501;
    overflow: hidden;

    .header {
        position: static;
        width: 100%;        

        .login-btn {
            margin: 0 40px 0 auto;
        }

        .close-btn {
            cursor: pointer;
        }
    }

    .header.shrinked {
        background-color: transparent !important;
        padding: 30px 80px;

        .app-logo {
            height: 72px;
        }
    }

    .body {
        // width: 1120px;
        // margin: 0 auto;
        width: 100%;
        padding: 60px 80px 0 80px;
        height: calc(100vh - 132px);
        display: flex;
        justify-content: space-between;
overflow-y: scroll;
        .lhs {

            margin-right: 100px;
            width: fit-content;

            ul {
                list-style-type: none;
                margin: 0;
                width: fit-content;
                padding: 0 !important;
                margin-bottom: 30px;

                li {
                    //styleName: SubMenu;
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.1em;
                    text-align: left;
                    color: #000;
                    padding: 10px 0;
                    width: 332px;
                    cursor: pointer;
                    transition: all .6s ease;
                }

                li:first-child {
                    font-weight: 600;
                    border-bottom: 1px solid #000;
                }
                li:hover{
                    color: #909AAD;
                }
            }

        }

        .rhs {
            width: 70%;

            .sub-heading {
                //styleName: SubMenu;
                font-family: Work Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.1em;
                text-align: left;

            }

            .heading {
                font-family: "Montserrat", sans-serif;
                font-size: 62px;
                font-weight: 800;
                line-height: 76px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 20px;

            }

            .story-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 100px;

                .tile {

                    width: 45%;
                    height: fit-content;
                    margin-bottom: 15px;

                    img {
                        margin-bottom: 0px;
                        width: 100%;
                    }

                    p {

                        font-family: Work Sans;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 28px;
                        letter-spacing: -0.03em;
                        text-align: left;
                        width: 100%;
                        margin: 0;
                        height: fit-content;
                    }
                }
            }

            .language-box {
                border-top: 1px solid #000;
                padding: 10px 0 10px 30px;
.mb-3{
    display: flex;
}
                .flex-box {
                    display: flex;

                }

                .title {
                    //styleName: MainMenu;
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0.1em;
                    text-align: left;

                }

                svg {
                    margin-right: 10px;
                }

                button {
                    //styleName: SubMenu;
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.1em;
                    text-align: left;

                }

                button.active {

                    font-weight: 600;

                }
            }

            .sm-box {
                display: flex;
                border-top: 1px solid #000;
                padding: 20px 0 20px 30px;
                border-bottom: 1px solid #000;

            }

            .sm-box svg {
                margin-right: 30px;
cursor: pointer;
            }
            .sm-box svg:hover path{
                fill: #909AAD;
            }
        }
    }



}

// @media (min-width: 1500px) {
//     .nav-pane {
//         .body {
//             width: 1376px;
//             .rhs {
//                 .story-box {
//                     .tile {
//                         width: 448px;
//                         margin-bottom: 20px;
//                     }
//                 }
//             }
//         }
//     }
// }
    @media (max-width:1005px) {
        .nav-pane {
            .body {
                display: block;
                padding: 65px 100px 100px 100px;

                .lhs {

                    margin-right: 0px;
                    margin-bottom: 100px;
                    width: 100%;

                    ul {
                        list-style-type: none;
                        
                        width: fit-content;
                        padding: 0 !important;

                        li {
                            //styleName: SubMenu;
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0.1em;
                            text-align: left;
                            color: #000;
                            padding: 10px 0;
                            width: 332px;
                        }

                        li:first-child {
                            font-weight: 600;
                            border-bottom: 1px solid #000;
                        }
                    }

                }

                .rhs {
                    width: 100%;

                    .sub-heading {
                        //styleName: SubMenu;
                        font-family: Work Sans;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0.1em;
                        text-align: left;

                    }

                    .heading {
                        font-family: "Montserrat", sans-serif;
                        font-size: 62px;
                        font-weight: 800;
                        line-height: 76px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-bottom: 20px;

                    }

                    .story-box {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 100px;

                        .tile {

                            width: 48%;
                            height: fit-content;
                            margin-bottom: 15px;

                            img {
                                margin-bottom: 0px;
                            }

                            p {

                                font-family: Work Sans;
                                font-size: 20px;
                                font-weight: 300;
                                line-height: 28px;
                                letter-spacing: -0.03em;
                                text-align: left;
                                width: 100%;
                                margin: 0;
                                height: fit-content;
                            }
                        }
                    }

                    .language-box {
                        border-top: 1px solid #000;
                        padding: 10px 0 10px 30px;

                        .flex-box {
                            display: flex;
        
                        }

                        .title {
                            //styleName: MainMenu;
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0.1em;
                            text-align: left;

                        }

                        svg {
                            margin-right: 10px;
                        }

                        button {
                            //styleName: SubMenu;
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0.1em;
                            text-align: left;

                        }

                        button.active {

                            font-weight: 600;

                        }
                    }

                    .sm-box {
                        display: flex;
                        border-top: 1px solid #000;
                        padding: 20px 0 20px 30px;
                        border-bottom: 1px solid #000;

                    }

                    .sm-box svg {
                        margin-right: 30px;

                    }
                }
            }
        }
    }

    @media (max-width:767px) {
        .nav-pane {
            .header.shrinked {
                padding: 30px 30px !important;
              }
            .body {

                padding: 30px;

                .lhs {

                    margin-right: 0px;
                    width: 100%;

                    ul {

                        li {

                            padding: 10px 0;
                            width: 100%;
                        }

                        li:first-child {}
                    }

                }

                .rhs {
                    width: 100%;

                    .sub-heading {
                        //styleName: SubMenu;

                        font-size: 16px;


                    }

                    .heading {

                        font-size: 52px;
                        font-weight: 800;

                        margin-bottom: 20px;

                    }

                    .story-box {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 100px;

                        .tile {

                            width: 100%;
                            height: fit-content;
                            margin-bottom: 45px;

                            img {
                                margin-bottom: 0px;
                            }

                            p {

                                font-family: Work Sans;
                                font-size: 20px;
                                font-weight: 300;
                                line-height: 28px;
                                letter-spacing: -0.03em;
                                text-align: left;
                                width: 100%;
                                margin: 0;
                                height: fit-content;
                            }
                        }
                    }

                    .language-box {
                        border-top: 1px solid #000;
                        padding: 10px 0 10px 30px;
                        .flex-box {
                            display: flex;
        flex-direction: column;
        align-items: center;
                        }

                        .title {
                            //styleName: MainMenu;
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0.1em;
                            text-align: left;

                        }

                        svg {
                            margin-right: 10px;
                        }

                        button {
                            //styleName: SubMenu;
                            font-family: Work Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0.1em;
                            text-align: left;
margin-bottom: 20px;
                        }

                        button.active {

                            font-weight: 600;

                        }
                    }

                    .sm-box {
                        display: flex;
                        border-top: 1px solid #000;
                        padding: 40px 0 40px 30px;
                        border-bottom: none;

                    }

                    .sm-box svg {
                        margin-right: 30px;

                    }
                }
            }
        }
    }