
.landing-page{
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px 80px;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(85, 85, 85, 0);
        .app-logo{
            height: 72px;
        }
        
    }
    .header.shrinked{
        background-color:  rgba(0, 0, 0, 0.955);
        padding:30px 80px;
        .app-logo{
            height: 50px;
        }
    } 
    .banner-section{
        width: 100%;
        min-height: 720px;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 120px;
        color: #fff;
        gap: 25px;
        .banner-title{
            margin-top: 50px;
            width: 100%;
            font-family: Work Sans;
            font-size: 52px;
            font-weight: 400;
            line-height: 58px;
            letter-spacing: -0.03em;
            text-align: left;
            &.only-web{
                width: 40%;
            }
        }
        
        .banner-para{
            width: 100%;
            font-family: Work Sans;
            font-size: 20px;
            font-weight: 300;
            line-height: 31px;
            letter-spacing: -0.03em;
            text-align: left;

        }
    }
    .form-sec{
        width: 570px;
        box-shadow: 0px 4px 54px 0px #0000001A;
        position: absolute;
        right: 80px;
        top: 210px;
        background: #FFFFFF;
        color: #000;
        padding: 62px 40px 80px 40px;
        z-index: 1;
        border: 1px solid #DDDDDD;
        .title{
            font-family: Work Sans;
            font-size: 27px;
            font-weight: 400;
            line-height: 38px;
            letter-spacing: -0.03em;
            text-align: left;
            margin-bottom: 25px;
            padding: 10px;
            border-left: 15px solid #3ea845;
        }




        input, select,.custom-select {
            background-color: #FBFBFB;
            border-radius: 0px;
            color: #202020;
            font-size: 16px;
            line-height: 28px;
            width: 100%;
            padding: 15px 20px;
            &::placeholder {
              color: #E7E7E7; 
              font-weight: 300;
            }
            &:focus {
                    background-size: 100% 2px; 
                    border-color: #FBFBFB !important;
                    box-shadow: 0 0 0 0 #FBFBFB !important;
                    background-color: #FBFBFB;
                }
            
          }
          select,.custom-select {
            border: #E7E7E7 1px solid;
          }
          form {
            
            label{
              font-family: 'Poppins';
              font-size: 14px;
              line-height: 38px;
              font-weight: 500;
              padding-bottom: 10px;
              text-transform: uppercase;
            }
            .descr{
                color: #757F82;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
                line-height: 23px;
                letter-spacing: 0.1em;
                text-align: left;
                padding-top: 20px;

            }   
            .form-row{
              margin-bottom: 30px;
            
              .phone-input-container{
                position: relative;
                .form-control{
                    padding: 15px 20px 15px 60px ;
                }
              }
              // phone input
              .down-arrow{
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                pointer-events: none;
              }
                .react-tel-input{   
                    font-family:Work Sans;
                    .selected-flag{
                        &::before{
                            left: auto;
                        }
                        &:focus::before {
                            // background-size: 100% 2px; 
                            border-color: #fbfbfb00 !important;
                            box-shadow: 0 0 0 0 #FBFBFB !important;
                            // background-color: #FBFBFB;
                        }
                        &.open::before{
                            // background-size: 100% 2px; 
                            border-color: #fbfbfb00 !important;
                            box-shadow: 0 0 0 0 #FBFBFB !important;
                            // background-color: #FBFBFB;
                        }
                        .flag{
                            display: none;
                            
                        }
                    }
                    .flag-dropdown{
                        border-right: 1px solid #e9e9e9 ;
                    }
                    .country-list {
                        .country{
                            &:hover{
                                background-color: #26e333;
                                color: #fff;
                                box-shadow: 0 0 10px 100px #1882A8 inset;
                                .dial-code{
                                    color: #E7E7E7;
                                }
                            }
                        }
                        
                    }
                } 
              
              

              .custom-select {
                //styleName: Web : Content;
                font-family: Work Sans !important;
                font-weight: 350;
                letter-spacing: -0.03em;
                text-align: left;
                color: #000;
                position: relative;
                cursor: pointer;
      
                .selected-value {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
      
                .option-list {
                  position: absolute;
                  width: 100%;
                  height: fit-content;
                  top: 57px;
                  left: 0;
                  background-color: #fff;
                  overflow: hidden;
                  border: 1px solid #E7E7E7;
                  border-top: none;
      
                  .option {
                    font-family: Work Sans !important;
                    // font-size: 26px !important;
                    // font-weight: 300;
                    line-height: 30px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    padding: .5rem 1rem;
                  }
      
                  .option:hover {
                    background-color: #26e333;
                    color: #fff;
                    box-shadow: 0 0 10px 100px #1882A8 inset;
                  }
                }
              }
            }
          }
    }
    .button-black-box {
        border: 2px solid #000;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 15px 38px;
        color: #000;
        transition: all 0.2s ease-in-out;
        margin-top: 60px;
        &:hover {
            color: #fff;
            border: 2px solid #26e333;
            background-color: #26e333;
        }
    }
    .button-white-box {
        border: 2px solid #FFF;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        padding: 18px 50px;
        color: #fFf;
        transition: all 0.2s ease-in-out;
        margin-top: 50px;
        &:hover {
            color: #fff;
            border: 2px solid #26e333;
            background-color: #26e333;
        }
    }
    .sec-2{
        position: relative;
        overflow: hidden;
        padding-bottom: 120px;
        // display: flex;
        .main-icon {
            position: absolute;
            top: -454.08px;
            left: -368.44px;
            transform: rotate(67deg);
            height: 778px;
        }
        .title{
            margin-top: 350px;
            margin-left: 110px;
            margin-bottom: 120px;
            padding: 10px 20px;
            border-left: 20px solid #3ea845;
            font-family: Work Sans;
            font-size: 47px;
            font-weight: 350;
            line-height: 58px;
            letter-spacing: -0.03em;
            text-align: left;
            width: fit-content;
        }
        .black-card-section{
            .slick-track{
                padding-bottom: 20px;
            }
            .slick-slider {
                .slick-next {
                    left: 185px;
                    top: 110%;
                  }
              
                  .slick-prev {
                    left: 110px;
                    top: 110%;
                  }
              
                  .slick-prev::before {
              
                    content: url(../../public/images/slick-buttons/prev-arrow-black-web.svg);
                    height: 100%;
                    display: block;
              
                  }
              
                  .slick-next::before {
                    content: url(../../public/images/slick-buttons/next-arrow-black-web.svg);
                    height: 100%;
                    display: block;
                  }
                .slick-slide{
                    margin: 0px 20px;
                    width: 480px;
                    height: 350px;
                }
            }
            .card{
                width: 100%;
                height: 350px;
                border-radius: 0;
                display: flex !important;
                padding: 80px 60px 40px 60px;
                box-shadow: 0px 0px 28px 0px #00000008;
                border: 1px solid #EEEEEE;
                transition: all 0.7s ease;
                gap: 10px;
                
                transition: all 0.7s cubic-bezier(.57, .21, .69, 1.25);

                .close-btn{
                    position: absolute;
                    top: 40px;
                    right: 40px;
                    svg{width: 45px;
                        height: 45px;
                    }
                }
                .navigate-btn{
                    align-items: center;
                    color: #fff;
                    font-family: Work Sans;
                    font-size: 18px;
                    padding: 0;
                    svg{
                        margin-left: 8px;
                        width: 25px;
                        height: 25px;
                    }
                }
                .card-inner{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    .moving-box{
                        height: fit-content;
                        transition:  margin-top  0.7s cubic-bezier(.57, .21, .69, 1.25);
                    }
                    
                }

                // &:hover , &.hovered {
                 &.hovered {
                    color: #fff;
                    background-color: #000000;
                    .card-inner .moving-box{
                        margin-top: -80px;
                    }
                    .description{
                        
                        margin-top: -20px ;
                    }
                }
                .card-title{
                    width: 100%;
                    font-family: Work Sans;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    margin-bottom: 20px;
                    transition: all 0s ease !important;
                }
                .description {
                    //styleName: Web:Content-small;
                    font-family: Work Sans;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 28px;
                    letter-spacing: -0.03em;
                    text-align: left;
                    margin-bottom: 25px;
                    width: 75%;
                    color: #fff;
                    // margin-top: 20px;
                    transition: all 0.8s ease;
      
                  }
                img{
                    height: 60px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .sec-3{
        display: flex;
        justify-content: space-between;
        padding: 40px 0px ;
        background-size: cover;
        background-position: center;
        .greycard{
            width: 100%;
            color: #fff;
            padding: 50px 60px 50px 90px;
            border-right: 1px solid #D0EAF5;
            display: grid;
            gap: 20px;
            &:last-child{
                border-right: none;
            }
            .title{
                font-family: Work Sans;
                font-size: 30px;
                font-weight: 400;
                line-height: 38px;
                letter-spacing: -0.03em;
                text-align: left;
                .num{
                    font-weight: 600;
                }
            }
            p{
                width: 75%;
                font-family: Work Sans;
                font-size: 18px;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: -0.03em;
                text-align: left;

            }
        }
    }

    .sec-4{
        position: relative;
        overflow: hidden;
        padding-bottom: 120px;
        // display: flex;
        background: #F9FBFD;
        .main-icon {
            position: absolute;
            top: -454.08px;
            left: -368.44px;
            transform: rotate(67deg);
            height: 778px;
        }
        .title{
            margin-top: 130px;
            margin-left: 110px;
            margin-bottom: 120px;
            padding: 10px 20px;
            border-left: 20px solid #3ea845;
            font-family: Work Sans;
            font-size: 47px;
            font-weight: 350;
            line-height: 58px;
            letter-spacing: -0.03em;
            text-align: left;
            width: fit-content;
        }
        .black-card-section{
            .slick-track{
                padding-bottom: 20px;
            }
            .slick-slider {
                .slick-next {
                    left: 185px;
                    top: 110%;
                  }
              
                  .slick-prev {
                    left: 110px;
                    top: 110%;
                  }
              
                  .slick-prev::before {
              
                    content: url(../../public/images/slick-buttons/prev-arrow-black-web.svg);
                    height: 100%;
                    display: block;
              
                  }
              
                  .slick-next::before {
                    content: url(../../public/images/slick-buttons/next-arrow-black-web.svg);
                    height: 100%;
                    display: block;
                  }
                .slick-slide{
                    margin: 0px 7px;
                    width: 350px;
                    height: 218px;
                }
            }
            .card{
                width: 100%;
                height: 218px;
                border-radius: 0;
                display: flex !important;
                padding: 50px 60px;
                box-shadow: 0px 0px 28px 0px #00000008;
                border: 1px solid #EEEEEE;
                transition: all 0.7s ease;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;
                &:hover{
                    color: #fff;
                    background-color: #0D4972;
                }
                .card-title{
                    width: 100%;
                    font-family: Work Sans;
                    font-size: 22px;
                    font-weight: 300;
                    line-height: 32px;
                    letter-spacing: -0.03em;
                    text-align: left;
                }
            }
        }

        .grey-slider-section {
            width: 100%;
            padding: 50px 0 100px 0;
          
            .headding-box {
              width: 100%;
              padding: 0px 145px 50px 145px;
          
              h1{
                margin-bottom: 50px;
              }
            }
          
          
            .slick-slider {
              $cardHeight: 530px;
              $cardWidth: 610px;
          
              .slick-next {
                left: 200px;
                top: -30px;
              }
          
              .slick-prev {
                left: 145px;
                top: -30px;
              }
          
              .slick-prev::before {
          
                content: url(../../public/images/slick-buttons/prev-arrow-black-web.svg);
                height: 100%;
                display: block;
          
              }
          
              .slick-next::before {
                content: url(../../public/images/slick-buttons/next-arrow-black-web.svg);
                height: 100%;
                display: block;
              }
          
              .slick-track {
                margin: 0 -10px 0 20px;
          
              }
              .slick-track,
              .slick-slide,
              .slick-list {
                height: $cardHeight;
                padding-top: 10px;
              }
          
          
          
              .slick-slide {
          
          
                height: $cardHeight;
                margin: 0 10px;
                width: $cardWidth;
          
          
          
                .card {
                  height: $cardHeight;
          
                  padding: 100px 45px 100px 45px;
                  background-color: #F9FBFD;
                  border: none;
                  transition: all 0.7s cubic-bezier(.57, .21, .69, 1.25);
                  ;
          
                  .inner-base-box {
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
          
                    .inner-moving-box {
                      display: flex !important;
                      flex-direction: column;
                      justify-content: flex-start;
                      margin-top: 20px;
                      transition: all 0.7s cubic-bezier(.57, .21, .69, 1.25);
          
                      img {
                        height: 70px;
                        width: 70px;
                        margin-bottom: 15px;
                      }
          
                      .number {
                        font-family: Work Sans;
                        font-size: 92px;
                        font-weight: 600;
                        line-height: 65px;
                        letter-spacing: -0.03em;
                        text-align: left;
                        color: var(--text-grey-dark, #ABABAB);
          
                      }
                      .title {
                        //styleName: Web:Banner Title_v01;
                        font-family: Work Sans;
                        font-size: 50px;
                        font-weight: 300;
                        line-height: 65px;
                        letter-spacing: -0.03em;
                        text-align: left;
                        min-height: 170px;
                        margin-bottom: 15px;
                        width: 100%;
                        transition: all 0.7s ease-in-out;
          
                      }
          
                      .description {
                        //styleName: Web:Content-small;
                        font-family: Work Sans;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 28px;
                        letter-spacing: -0.03em;
                        text-align: left;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        transition: all 0.7s ease-in-out;
          
                      }
          
          
                      button {
                        width: fit-content;
          
                      }
          
                    }
                  }
                }
          
                .card:hover {
                  background-color: #000;
                }
          
                .card:hover .title,
                .card:hover .description {
                  color: #fff;
                }
          
                .card:hover .inner-moving-box {
                  margin-top: -70px;
                }
              }
            }
          
          }
    }

    .sec-5{
        position: relative;
        overflow: hidden;
        padding: 30px 80px;
        padding-bottom: 120px;
        // display: flex;
        .main-icon {
            position: absolute;
            top: -454.08px;
            right: -368.44px;
            transform: rotate(67deg);
            height: 778px;
        }
        .title{
            margin-top: 150px;
            margin-left: 20px;
            margin-bottom: 80px;
            padding: 10px 20px;
            border-left: 20px solid #3ea845;
            font-family: Work Sans;
            font-size: 47px;
            font-weight: 350;
            line-height: 58px;
            letter-spacing: -0.03em;
            text-align: left;
            width: fit-content;
        }
        .card-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                display: flex;
                gap: 30px;
                width: calc(50% - 10px);
                box-shadow: 0px 0px 28px 0px #00000008;
                border: 1px solid #EEEEEE;
                margin-bottom: 20px;
                padding: 40px 50px;
                box-sizing: border-box;
                border-radius: 0;
                height: fit-content;
                transition: all 0.6s ease;
                p{
                    font-family: Work Sans;
                    font-size: 23px;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: -0.03em;
                    text-align: left;

                }
                svg path {
                    transition: fill 0.8s ease;
                }
                &:hover {
                    background: #9CD6EF;
                    svg path {
                        fill: #FFFFFF; 
                        
                    }
                }
                                  
              }
        }
    }

    .bottom-banner{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 147px;
        color: #fff;
        gap: 10px;
        position: relative;
        overflow: hidden;
        .main-icon{
            position: absolute;
            top: 50%;
            right: 368.44px;
            transform: rotate(67deg);
            height: 1118px;
            opacity: 50%;
        }
        .banner-title{
            margin-top: 40px;
            width: 100%;
            font-family: Work Sans;
            font-size: 50px;
            font-weight: 300;
            line-height: 59px;
            letter-spacing: -0.03em;
            text-align: left;
            span{
                font-weight: 600;
            }
        }   
    }
    .footer-sec{
        background: #F4F4F2;
        padding: 20px 60px;
        .footer-content{
            display: flex;
            justify-content: space-between;
            //styleName: Footer SubMenu;
            font-family: Work Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #5C6366;
            padding: 20px 0px;
            li{
                list-style-type: none;
                transition: color 0.5s ease;
                
                &.link{
                    cursor: pointer;
                    &:hover{
                        color: #000;
                    }
                }
            }
        }
    }
}

.invalid-feedback{
    position: absolute;
}

@media (max-width: 1005px) {
    .landing-page{
        .banner-section{
            min-height: 100vh;
            
            .banner-title{
                font-size: 34px;
                font-weight: 400;
                line-height: 37px;
                margin-top: 0;
            }
            .banner-para{
                font-size: 18px;
                font-weight: 300;
                line-height: 29px;
            }
        }
        .form-sec{
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            padding: 62px 140px 100px 140px;
        }
        .sec-2{
            .title{
                top: 0;
                left: 0;
                margin: 144px 80px 80px 80px;
                border-left: 15px solid #3ea845;
                padding: 0px 20px;
                font-size: 35px;
                line-height: 42px;
            }
            .black-card-section{
                .slick-track {
                    margin: 0 -0.625rem 0 40px;
                  }
                  .slick-slider {
                    .slick-next {
                        left: 110px;
                        top: 110%;
                      }
                  
                      .slick-prev {
                        left: 40px;
                        top: 110%;
                      }
                  }
            }
            .card-container{
                padding: 0px 80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .card {
                    display: flex;
                    gap: 30px;
                    width: calc(50% - 10px);
                    box-shadow: 0px 0px 28px 0px #00000008;
                    border: 1px solid #EEEEEE;
                    margin-bottom: 20px;
                    padding: 40px 50px;
                    box-sizing: border-box;
                    .card-title{
                        width: 100%;
                        
                    }
                    
                }
            }
            
        }
        .sec-3{
            flex-direction: column;
            .greycard{
                border-right: none;
                border-bottom: 1px solid #D0EAF5;
                width: auto;
                margin: 0px 80px;
                padding: 80px 50px;
                &:last-child{
                    border-bottom: none;
                }
                p{
                    width: 65%;
                }
            }
        }
        .sec-4{
            .title{
                margin-top: 140px;
                margin-left: 80px;
                font-size: 35px;
                line-height: 47px;
            }
            .card-container{
                padding: 0px 80px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .card {
                    height: fit-content;
                    display: flex;
                    gap: 30px;
                    width: calc(100% - 10px);
                    box-shadow: 0px 0px 28px 0px #00000008;
                    border: 1px solid #EEEEEE;
                    margin-bottom: 20px;
                    padding: 40px 50px;
                    box-sizing: border-box;
                    .card-title{
                        width: 100%;
                        
                    }
                    &:last-child .card-title{
                        width: 65%;
                    }
                    
                }
            }
        }
        .sec-5{
            .title{
                font-size: 35px;
                line-height: 42px;
                margin-top: 130px;
                margin-left: 0;
            }
            .card-container{
                .card {
                    width: 100%;
                  }
            }
        }
        .bottom-banner{
            padding-left: 80px;
            height: 640px;
        }
        .footer-sec{
            padding: 20px 80px;
        }
    }
}

@media (max-width:767px) {
    .landing-page{
        .header{
            padding: 30px 30px;
            .app-logo{
                height: 52px;
            }
            .text-menu-box {
                .division{
                    display: none;
                }
            }
            &.shrinked{
                padding:20px 30px;
             }
        }
        .banner-section{
            // justify-content: flex-end;
            padding: 50px ;
            .banner-title{
                font-size: 45px;
                line-height: 50px;
                margin-top: 35px;
            }
            .banner-para{
                font-size: 20px;
                line-height: 28px;
            }
        }
        .form-sec{
            padding: 60px 30px 80px 30px;
            .title{
                font-size: 22px;
                line-height: 28px;
                border-left: 5px solid #3ea845;
            }
        }
        .sec-2{
            padding-bottom: 100px;
            .title{
                margin: 90px 30px;
                margin-bottom: 60px;
                font-size: 25px;
                line-height: 28px;
                border-left: 10px solid #3ea845;
            }
            .black-card-section{
                .slick-track {
                    margin: 0 -0.625rem 0 20px;
            
                  }
                .slick-slider{
                    .slick-slide{
                        margin: 0px 10px;
                        width: 340px;
                        height: 306px;
                    }
                }
                .card{
                    height: 306px;
                    padding: 60px 40px 20px 40px;
                    &.hovered{
                        .card-inner .moving-box{
                            margin-top: -60px;
                        }
                    }
                    .card-title{
                        font-weight: 400;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }
                    .description{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 100%;
                    }
                    .close-btn{
                        svg{
                            width: 30px;
                            height: 30px;
                        }
                        
                    }
                    img{
                        height: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
            
            // .card-container{
            //     padding: 0px 30px;
            //     .card{
            //         width: calc(100%);
            //         height: 208px;
            //         // gap: 0;
            //         .card-title{
            //             font-weight: 300;
            //             font-size: 20px;
            //         }
            //         img{
            //             height: 100%;
            //             margin-bottom: 0px;
            //         }
            //     }
            // }
        }
        .sec-3{
            padding: 30px 0px;
            .greycard{
                margin: 0px 30px;
                padding: 60px 40px;
                p{
                    width: 87%;
                }
            }
        }
        .sec-4{
            .title{
                margin-top: 120px;
                margin-left: 30px;
                font-size: 25px;
                line-height: 28px;
            }
            .card-container{
                padding: 0px 30px;
            }
        }
        .sec-5{
            padding: 30px 30px;
            .title{
                font-size: 25px;
                line-height: 28px;
            }
            .card-container{
                .card{
                    p{
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
            
        }
        .bottom-banner{
            padding-left: 30px;
            .banner-title{
                font-size: 34px;
                line-height: 37px;
            }
        }
        .footer-sec{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            .footer-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 22px;
            }
            
        }

        .button-white-box{
            padding: 15px 25px;
            font-size: 16px;
        }
    }
}