.admin-layout{
 display: flex; 
 justify-content: space-between;  
 .rhs{
    width: calc(100vw - 70px);
    margin-left: 70px;
    .app-content{
      background-color: #FFF !important;
     width: 100%;
     height: fit-content;
     scroll-behavior: smooth;
  }
    .auth-mask{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      color: #0770a8;
    }
 }
}


@media(max-width:991px){

}

@media(max-width:576px) {

}