.admin-panel-layout .profile-menu{
  position: fixed;
  z-index: 999;
  background-color: #fff;
  padding: 15px 0;
  border-radius: 10px;
  right: 40px;
  top: 84px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
}
.admin-panel-layout .profile-menu .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #585858;
  padding: 0 20px 15px 20px;
  margin-bottom: 7px;

}
.admin-panel-layout .profile-menu .header .img-circle{
height: 60px;
width: 60px;
border-radius: 50%;
margin-right: 20px;
overflow: hidden;

}

.admin-panel-layout .profile-menu .header .text-box h4{
  margin-bottom: 7px;
}
.admin-panel-layout .profile-menu .header .text-box p{
  font-size: 11px;
  color: #585858;
  font-weight: 400;
  margin-bottom: 0;
}
.admin-panel-layout .profile-menu .body{
  padding: 0 20px;
}
.admin-panel-layout .profile-menu .body button{
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  background-color: #fff;
  color: #868790;
  margin-bottom: 7px;
  border: 0.5px solid rgba(50, 90, 62, 0.5);
border-radius: 10px;
box-shadow: unset;
justify-content: left;
padding: 7px 20px;
}

.admin-panel-layout .profile-menu .body button:hover{
  background-color: #325A3E;
  color: #fff;
 
}
.admin-panel-layout .profile-menu .body button:hover svg path{
fill: #fff;
 
}
.admin-panel-layout .profile-menu .body button svg, 
.admin-panel-layout .profile-menu .footer button svg{
  height: 16px;
}

.admin-panel-layout .profile-menu .footer{
  padding: 10px 20px 0 20px;
  background-color: #fff;
}

.admin-panel-layout .profile-menu .footer button{
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  color: #fff;
border-radius: 10px;
box-shadow: unset;
justify-content: center;
padding: 10px 20px;
background: rgba(50, 90, 62, 0.88);
border: 0.5px solid rgba(50, 90, 62, 0.5);

}