.form-section{
width: 70%;
}
.image-preview-box{
  margin-bottom: 37px;
}
@media (max-width:767px) {
  .form-section .w-50{
    width: 100% !important;
  } 
  .form-section .button-box{
    justify-content: space-between !important;
  }
}

.image-section{
width: 30%;
}
.img-section .img-error-msg {
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
  }
.img-section  .delete-btn{
    background-color: rgb(48, 48, 48) !important;
    position: absolute;
    z-index: 3;
    bottom: 0;
    color:#fff;
    border-radius: 0;
  }
  .img-section  .delete-btn:hover{
    color:#eee
  }
@media (max-width: 992px){
    .form-section{
        width: 100%;
        }
        
        .image-section{
        width: 100%;
        }
}