.page-not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vW;
    text-align: center;

    h4{
color: red;
    }
    h1{
color: gray;
    }
    h3{

    }
}