.faq-contact-page
{

   .banner-section{

}
.accordion {
    border: none;
} 

.accordion__button {
    background-color:  rgba(224, 90, 103, 0.07) !important;
    color: #2c2c2c !important;
    font-size: 14px;
    font-weight: 500;
}

.accordion__button:before {
    height: 7px !important;
    width: 7px !important;
    margin-right: 24px;
}

.main {
    font-size: 120%;
    color: red;
  }

  #faq{
    display: block;
  }

  #contactus{
    display: none;
  }

  .tab-btn{
    font-family: Lato;
font-weight: 600;
letter-spacing: 0em;
text-align: left;
color: #191B2D;
cursor: pointer;
border-bottom: 5px solid #D9D9D9;
;
;

  }
  .tab-btn:hover,.tab-btn.active{
    font-family: Lato;
font-weight: 600;
letter-spacing: 0em;
text-align: left;
color: #E05A67;

border-bottom: 5px solid #E05A67;

  }

}