.about-us-banner-section{
    margin-bottom: 30px;
}

.aboutusimgsize{
    width: 360px;
}


.lh-33 {
    line-height: 33px;
}

.w-90px{
    width: 90px;
}

.missionvission .w-50-mob-resp{
    height: 155px;
}
.missionvission img{
    width: 80px;
}

.ousrservices .item{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 70px;
    position: relative;
    width: calc(100% / 3);
    text-align: center;
    height: 290px;
    background-color: #fff;
}

.ousrservices .item:hover{
    background: linear-gradient(180deg, rgba(243, 125, 137, 0.07) 0%, rgba(232, 88, 102, 0.354) 100%);
}

.ousrservices img{
    width: 55px;
}

.ousrservices .img-bg{
    background: linear-gradient(180deg, rgba(224, 90, 103, 0.77) 0%, rgba(224, 90, 103, 0.43) 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -47px;
    transform: translateX(-50%);
    left: 50%;
}
.ousrservices .item p{
    height: 105px;
}
.mb-100{
    margin-bottom: 100px;
}






@media (min-width: 1005px) {
.about-us-banner-section .bannerimg{
    height: 300px;
}


}
@media (max-width: 1005px) {
    .ousrservices .item{
        padding: 70px 20px !important;
        width: calc(100% / 3.2);
    }
    .missionvission .w-50-mob-resp {
        height: fit-content;
      }
}
@media (max-width: 576px) {
.ousrservices .item {
    padding: 70px;
    width: 100%;
    margin-bottom: 77px;
}

.keepintouchimg {
    width: 290px;
}

.missionvission .w-50-mob-resp{
    height: fit-content;
}


}