.full-screen-table-container.invoice-create{
    padding-bottom: 80px;
    .admin-blue-btn, .admin-black-btn{
        padding: 16px 24px;
    }
    .text-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
        text-transform: capitalize;
        }
        .btns{
            display: flex;
            gap: 30px;
        }
    } 
    .form-select{
        text-align: left;
        font-size: 15px;
        line-height: 28px;
        padding: 10px;
        border-radius: 0;
        border: 1px solid #8791A9;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // background-repeat: no-repeat;
        // background-image: url(../../../../public/images/admin-panel/dashboard/icon-arrow-down.svg); 
        background-size: 0;

        
        option {
            padding: 15px;
        }
        &:focus {
            border-color: #959393 !important;
            box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;
        }
        
    }
    .form-control{
        line-height: 28px;
        &::placeholder{
            font-size: 15px;
        }
        &#organisation_name{
            margin-bottom: 15px;
        }
    }
    input[type=text]{
        border-color: #8791A9;

        &:disabled{
            color: #757F82;
        }
    }
    .custom-select {
        .selected-value{
            line-height: 26px;
            
        }
        &#job_type .selected-value,
        &#job_type .option-list .option {
            text-transform: capitalize;
        }
        .option-list{
            top: 47px;
            z-index: 99;
        }
      }
    .client-inputs{
        label span{
            color: #757F82;
        }
        .text-input{
            display: flex;
            gap: 10px;
        }
    }

    .card{
        .sub-item{
            display: grid;
            gap: 40px;
            padding-bottom: 50px;
            border-bottom: 1px solid #EEEEEE;
            .drag-and-drop{
                height: 230px;
                .drag-text{
                    font-size: 20px;
                    line-height: 28px;
                }
            }
            textarea{
                width: 100%;
                height: 230px;
                resize: none;
                padding: 20px;
                border: 1px solid #8791A9;
                &:focus{
                    border: 1px solid #8791A9;
                    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) ;
                    outline: none;
                }
            }
        }
        .invalid-feedback{
            position: relative;
        }
        .selected-options{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15px;
            gap: 15px;
            border-radius: 2px;
            padding: 0px 0px 15px 0px;
            border-bottom: 1px solid #EEEEEE;
            .optn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-family: Work Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 38px;
                letter-spacing: 0.03em;
                text-align: left;
                background: #CDF1FF;
                padding: 0px 10px 2px 10px;
                color: #0587DB;
                text-transform: capitalize;
            }
        }
        .selected-texts{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            .optn{
                display: flex;
                gap: 10px;
                padding: 10px;
                font-size: 17px;
                // line-height: 38px;
                border-bottom: 1px solid #959393;
                justify-content: space-between;
            }
        }
        
        .add-item{
            margin-top: 20px;
            padding: 0px 0px 20px 0px;
            button{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                padding: 16px 24px;
                font-size: 16px;
                font-weight: 600;
                line-height: 17px;
                color: #0587DB;
                // svg{
                //     width: 18px;
                //     height: 18px;
                // }
                &.admin-black-btn{
                    margin-top: 20px;
                    color: #fff;
                    svg path{
                        fill: #fff;
                    }
                }
            }
        }
        .remove-btn{
            color: rgb(194, 0, 0);
            font-size: 14px;
        }

        .title{
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 29.07px;
            letter-spacing: 0.03em;
            text-align: left;
            margin-bottom: 10px;
        }
        .form-row{
            margin-bottom: 35px;
        }
        .sec-1{
            display: flex;
            gap: 80px;
            padding: 20px 50px 40px 50px;
            border-bottom: 1px solid #EEEEEE;
            .lhs{
                width: 50%;
                display: flex;
                flex-direction: column;
                // gap: 35px;
            }
            .rhs{
                width: 50%;
                display: flex;
                flex-direction: column;
                // gap: 35px;
                .title{
                    margin-bottom: 30px;
                }
            }
            .selected-address{
                margin-top: 10px;
                padding: 20px;
                border: 1px solid #D4DDF4;
                background: #F5F6F8;
            }
        }
        .sec-2{
            padding: 20px 50px 40px 50px;
            display: flex;
            flex-direction: column;
            gap:  35px;
            .table-section{
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button{
                        color: #0587DB;
                        font-family: Poppins;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 29.07px;
                        letter-spacing: 0.03em;
                        text-align: left;
                        span{
                            padding-right: 10px;
                        }

                    }
                }
                .manage-column{
                    .option-list{
                        position: absolute;
                        background-color: #fff;
                        right: 0;
                        transform: translateX(-50%);
                        border-radius: 10px;
                        padding: 20px 12px 9px 9px;
                        border: none;
                        box-shadow: 14px 4px 24px 2px rgba(0, 0, 0, 0.0862745098);
                        .option{
                            font-size: 13px;
                            line-height: 20px;
                            font-weight: 500;
                            &:last-child{
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
                .add-row-section{
                    display: flex;
                    justify-content: space-between;
                    background: #FCFCFD;
                    gap: 10px;
                    padding: 20px;
                    flex-wrap: wrap;
                    label{
                        font-family: Poppins;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 29.07px;
                        letter-spacing: 0.03em;
                        text-align: left;
                        color: #434B50;

                    }
                    input, .form-select{
                        border-color: #EEEEEE;
                        
                    }
                    .duration{
                        display: flex;
                        gap: 10px;
                        .custom-date{
                            background-color: #fff;
                            width: 160px;
                        }
                    }
                    .amount{
                        width: 130px;
                    }
                    .days_worked{
                        width: 80px;
                    }
                    .custom-select{
                        width: 220px;
                        svg{
                            height: 13px;
                        }
                    }

                }
                table{
                    tr.hide-table-padding td {
                        padding: 0;
                        background-color: #FCFCFD;
                        text-align: start;
                      }
                    
                      
                      .toggle-icon {
                        cursor: pointer;
                        transition: transform 0.5s ease-in-out;
                      }
                      
                      .toggle-icon.rotate {
                        transform: rotate(180deg);
                      }
                }
            }

            .total{
                background: #F9FAFC;
                padding: 60px 40px 60px 40px;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                gap: 15px;
                .data-row{
                    display: flex;
                    gap: 25px;
                    justify-content: flex-end;
                    .key, .value{
                        font-family: Poppins;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 0.03em;
                        text-align: left;
                        color: #606368;
                    }
                    &.grand-total{
                        .key{
                            font-size: 25px;
                            line-height: 30px;
                        }
                        .value{
                            font-size: 35px;
                            font-weight: 700;
                            line-height: 30px;
                            color: #212429;
                        }
                    }
                }
                
            }

            
        }
        
        background: #fff;
        padding: 40px 40px;
        border: none;
        border-radius: 12px;
        display: flex;
        
        box-shadow: 0px 4px 208px 0px #48484812;

        p{
            font-family: Poppins;
            font-size: 14px;
            font-weight: 300;
            line-height: 28px;
            letter-spacing: 0.03em;
            text-align: left;

        }
        label{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 29.07px;
            letter-spacing: 0.03em;
            text-align: left;
            margin-bottom: 10px;
        }
        input{
            border-radius: 0;
            padding: 10px;
            font-weight: 400;
            &#jobid{
                font-weight: 600;
            }
            
        }
        input:focus,
        select:focus,
        textarea:focus {
            background-size: 100% 2px; 
            border-color: #959393 !important;
            box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;
        }

        .input-with-icon{
            position: relative;
            input {
                padding-right: 50px; 
              }
            .icon-btn {
                position: absolute;
                top: 50%;
                width: 50px;
                height: 100%;
                right: 0;
                transform: translateY(-50%);
                background: #F8F8F8;
                align-content: center;
                text-align: center;
                cursor: pointer;
                border: 1px solid #959EAF;
                // border-top: none;
            }
        }
        .add-button{
            cursor: pointer;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 16.61px;
            letter-spacing: -0.01em;
            text-align: left;
            color: #0587DB;
            margin-bottom: 10px;
            svg{
                margin: 0 5px;
            }
        }
        table{
            background: #F5F6F8;
            border-spacing: 0;
            tr{
                box-shadow: none;
                border: 1px solid #EEEEEE;
            }
            td{
                border: 1px solid #EEEEEE;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.03em;
                text-align: center;

            }
            th{
                font-family: Poppins;
                font-size: 16px;
                font-weight: 600;
                line-height: 29.07px;
                letter-spacing: 0.03em;
                text-align: center;
                padding: 15px 10px;
            }
            

        }

        
    }
    
    
}