.custom-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0000006b;
    font-family: Work Sans;
}
.custom-modal h1 {
    color: #000;
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    
}
.custom-modal .card {
    width: 400px;
    background-color: #fff;
    padding: 40px 30px;
    max-width: 95vw !important;
}
.custom-modal .first-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-modal img{
    height: 80px;
    margin-bottom: 10px;
}
.custom-modal p {
    color: #000;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.location-collection-modal h1 {
    color: #97262C;
    text-align: center;
    font-family: Work Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    height: fit-content;
}

.custom-modal h2 {
    color: #0084E4;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.address-add-popup h1 {
    color: #000;
    font-family: Work Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    
}
.address-add-popup .form-control{
    font-size: 14px !important;
  }
.custom-modal label {
    color: #191B2D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 2px;
}
.custom-modal input{
    border-radius: 5px;
background: #E8E8E8; 
border: none;
}
.custom-modal .footer{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: transparent !important;
}

.custom-modal .single-button-footer{
    justify-content: center;
}
.custom-modal .footer .ok-button{
    border-radius: 10px;
    background: #0084E4;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    width: 45% !important;
}
.custom-modal .footer .cancel-button{
    border-radius: 10px;
    background: #E8E8E8;
    color: #191B2D;
    text-align: center;
      font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    width: 45%;
}

.custom-modal .vertical-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-modal .vertical-footer .ok-button{
    border-radius: 25px;
    background: #E05A67;
    color: #FFF;
    text-align: center;
      font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    width: 100% !important;
    margin-bottom: 10px;
}
.custom-modal .vertical-footer .cancel-button{
    border-radius: 25px;
    background:  #E05A6740;
    ;
    color: #E05A67;
    text-align: center;
      font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    width: 100% !important;
}
.location-collection-modal p {
    color: #000;
    text-align: center;
      font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.location-collection-modal label {
    margin-bottom: -10px;
    position: relative;
    background-color: #fff;
    width: fit-content;
    margin-left: 10px;
}

.location-collection-modal select {
    margin-bottom: 30px;
}

.location-collection-modal button {
    border-radius: 10px;
    background: #E05A67;
    color: #FFF;
    text-align: center;
      font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 40px;
    width: 100%;
}

.location-collection-modal .secons-screen {
    height: 264px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logout-modal .card{
    width: 300px;
}
.logout-modal .first-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout-modal .first-screen h1{
    font-family: Work Sans;
font-size: 28px;
font-weight: 800;
line-height: 1;
letter-spacing: 0em;
text-align: left;
color:rgba(151, 38, 44, 1)

}



.positive-modal .card{
    width: 300px;
}
.positive-modal .first-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.positive-modal  h1{
    font-family: Work Sans;
font-size: 28px;
font-weight: 800;
line-height: 1;
letter-spacing: 0em;
text-align: left;
color:#0569b1

}


.add-to-cart-trip-selection-modal h1{
    font-family: Work Sans;
font-size: 35px;
font-weight: 800;
line-height: 35px;
letter-spacing: 0em;
text-align: center;

}
.add-to-cart-trip-selection-modal .hint{
    font-size: 11px;
    color: grey;
}
.home-page-delivery-modal span{
      font-family: Work Sans;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: #4C4C4C;
width: 100%;

}

.post-review-modal .star-box svg{
    margin-right: 5px ;
}
.post-review-modal .star-box svg path{
    fill: transparent !important;
    stroke: #868790 !important;
    cursor: pointer;
 }
 .post-review-modal .star-box svg .filled,.post-review-modal .star-box svg path:hover{
    fill: #E05A67 !important;
    stroke: #E05A67 !important;
 }
@media(max-width:768px){
    .address-add-popup{
        position: absolute;
        top: 130px;
        left: 0;
    }
}